body {
  margin:0px;
  background-color:rgba(255, 255, 204, 1);
  background-image:none;
  position:relative;
  left:-13px;
  width:1076px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:277px;
}
#u2 {
  position:absolute;
  left:417px;
  top:307px;
  width:164px;
  height:277px;
}
#u3 {
  position:absolute;
  left:2px;
  top:130px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:425px;
  top:328px;
  width:146px;
  height:228px;
}
#u5 {
  position:absolute;
  left:2px;
  top:106px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u6 {
  position:absolute;
  left:446px;
  top:409px;
  width:105px;
  height:87px;
  font-size:20px;
  text-align:center;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u8 {
  position:absolute;
  left:430px;
  top:357px;
  width:113px;
  height:16px;
  font-size:28px;
  color:#666666;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  visibility:hidden;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:238px;
  top:373px;
  width:141px;
  height:56px;
  font-size:20px;
  text-align:center;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u12 {
  position:absolute;
  left:622px;
  top:380px;
  width:207px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u14 {
  position:absolute;
  left:892px;
  top:357px;
  width:170px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:71px;
  width:166px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u16 {
  position:absolute;
  left:49px;
  top:361px;
  width:170px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:71px;
  width:166px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:571px;
  top:442px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:325px;
  height:8px;
}
#u18_seg1 {
  position:absolute;
  left:295px;
  top:-20px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:131px;
}
#u20 {
  position:absolute;
  left:866px;
  top:756px;
  width:223px;
  height:131px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:219px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:977px;
  top:527px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:217px;
}
#u22_seg1 {
  position:absolute;
  left:-4px;
  top:209px;
  width:9px;
  height:8px;
}
#u22_seg2 {
  position:absolute;
  left:-3px;
  top:209px;
  width:8px;
  height:20px;
}
#u22_seg3 {
  position:absolute;
  left:-19px;
  top:203px;
  width:40px;
  height:40px;
}
#u23 {
  position:absolute;
  left:-50px;
  top:101px;
  width:100px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:112px;
}
#u24 {
  position:absolute;
  left:13px;
  top:765px;
  width:242px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:238px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u26 {
  position:absolute;
  left:478px;
  top:736px;
  width:170px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:71px;
  width:166px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:219px;
  top:446px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u28_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:202px;
  height:8px;
}
#u28_seg1 {
  position:absolute;
  left:172px;
  top:-20px;
  width:40px;
  height:40px;
}
#u29 {
  position:absolute;
  left:49px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:868px;
  top:822px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u30_seg0 {
  position:absolute;
  left:-212px;
  top:-4px;
  width:212px;
  height:8px;
}
#u30_seg1 {
  position:absolute;
  left:-212px;
  top:-5px;
  width:8px;
  height:9px;
}
#u30_seg2 {
  position:absolute;
  left:-218px;
  top:-5px;
  width:14px;
  height:8px;
}
#u30_seg3 {
  position:absolute;
  left:-232px;
  top:-21px;
  width:40px;
  height:40px;
}
#u31 {
  position:absolute;
  left:-160px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:468px;
  top:821px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u32_seg0 {
  position:absolute;
  left:-200px;
  top:-4px;
  width:204px;
  height:8px;
}
#u32_seg1 {
  position:absolute;
  left:-214px;
  top:-20px;
  width:40px;
  height:40px;
}
#u33 {
  position:absolute;
  left:-150px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:134px;
  top:876px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u34_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u34_seg1 {
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:251px;
}
#u34_seg2 {
  position:absolute;
  left:-18px;
  top:221px;
  width:40px;
  height:40px;
}
#u35 {
  position:absolute;
  left:-48px;
  top:94px;
  width:100px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:277px;
}
#u38 {
  position:absolute;
  left:52px;
  top:1133px;
  width:164px;
  height:277px;
}
#u39 {
  position:absolute;
  left:2px;
  top:130px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:60px;
  top:1154px;
  width:146px;
  height:228px;
}
#u41 {
  position:absolute;
  left:2px;
  top:106px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u42 {
  position:absolute;
  left:81px;
  top:1235px;
  width:105px;
  height:87px;
  font-size:20px;
  text-align:center;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u44 {
  position:absolute;
  left:65px;
  top:1183px;
  width:113px;
  height:16px;
  font-size:28px;
  color:#666666;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  visibility:hidden;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:131px;
}
#u46 {
  position:absolute;
  left:452px;
  top:1203px;
  width:223px;
  height:131px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:52px;
  width:219px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:206px;
  top:1268px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u48_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:238px;
  height:8px;
}
#u48_seg1 {
  position:absolute;
  left:230px;
  top:-4px;
  width:8px;
  height:9px;
}
#u48_seg2 {
  position:absolute;
  left:230px;
  top:-3px;
  width:16px;
  height:8px;
}
#u48_seg3 {
  position:absolute;
  left:220px;
  top:-19px;
  width:40px;
  height:40px;
}
#u49 {
  position:absolute;
  left:74px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u50 {
  position:absolute;
  left:893px;
  top:1184px;
  width:170px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:71px;
  width:166px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:675px;
  top:1269px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u52_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:222px;
  height:8px;
}
#u52_seg1 {
  position:absolute;
  left:192px;
  top:-20px;
  width:40px;
  height:40px;
}
#u53 {
  position:absolute;
  left:59px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u54 {
  position:absolute;
  left:893px;
  top:1631px;
  width:170px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:71px;
  width:166px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:978px;
  top:1354px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u56_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:281px;
}
#u56_seg1 {
  position:absolute;
  left:-20px;
  top:251px;
  width:40px;
  height:40px;
}
#u57 {
  position:absolute;
  left:-50px;
  top:124px;
  width:100px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:893px;
  top:1716px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u58_seg0 {
  position:absolute;
  left:-333px;
  top:-4px;
  width:333px;
  height:8px;
}
#u58_seg1 {
  position:absolute;
  left:-333px;
  top:-382px;
  width:8px;
  height:386px;
}
#u58_seg2 {
  position:absolute;
  left:-349px;
  top:-396px;
  width:40px;
  height:40px;
}
#u59 {
  position:absolute;
  left:-379px;
  top:-54px;
  width:100px;
  word-wrap:break-word;
}
